// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '/node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here
$ansi-red: #e1443d;
$ansi-black: #383131;
$ansi-cyan: #75b5c4;
$ansi-yellow: #eee273;
$ansi-green: #a6d3b2;
$ansi-brown: #d5c195;

$shake-primary: #ff4d4d;

$ansi-colors: (
	'ansi-red': $ansi-red,
	'ansi-black': $ansi-black,
	'ansi-cyan': $ansi-cyan,
	'ansi-yellow': $ansi-yellow,
	'ansi-green': $ansi-green,
	'ansi-brown': $ansi-brown
);

$shake-colors: (
	'shake-primary': $shake-primary
);

$theme-colors: map-merge($theme-colors, $ansi-colors);
$theme-colors: map-merge($theme-colors, $shake-colors);

$spacers: map-merge(
	$spacers,
	(
		6: $spacer * 4.5,
		7: $spacer * 6
	)
);

$font-size-root: 14px;

$font-family-sans-serif: join(
	('Noto Sans CJK KR', 'AppleSDGothicNeo', 'APPLE SD Gothic Neo', 'Nanum Gothic'),
	$font-family-sans-serif
);

$link-color: $shake-primary;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-decoration: none;

$container-padding-x: 6rem;

// 5. Include remainder of required parts
@import '/node_modules/bootstrap/scss/maps';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '/node_modules/bootstrap/scss/utilities';
@import '/node_modules/bootstrap/scss/reboot';
@import '/node_modules/bootstrap/scss/type';
@import '/node_modules/bootstrap/scss/images';
@import '/node_modules/bootstrap/scss/containers';
@import '/node_modules/bootstrap/scss/grid';
@import '/node_modules/bootstrap/scss/helpers';
@import '/node_modules/bootstrap/scss/buttons';
@import '/node_modules/bootstrap/scss/nav';
@import '/node_modules/bootstrap/scss/navbar';
@import '/node_modules/bootstrap/scss/tables';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '/node_modules/bootstrap/scss/utilities/api';

// 8. Add additional custom code here

.btn-punch {
	// --bs-btn-color: var(--bs-white);
	--bs-btn-border-radius: 0.15rem;
	--bs-btn-padding-x: 1.3rem;
	--bs-btn-padding-y: 1rem;
	--bs-btn-font-size: 0.85rem;
	--bs-btn-font-weight: bold;
}

.btn-contest-problem {
	--#{$prefix}btn-font-size: 0.85rem;
	@include button-variant($ansi-red, $ansi-red, white);
}
.btn-contest-solution {
	--#{$prefix}btn-font-size: 0.85rem;
	@include button-outline-variant($ansi-red, color-contrast($ansi-red), transparent);
}
.btn-precontest-problem {
	--#{$prefix}btn-font-size: 0.85rem;
	@include button-variant($ansi-cyan, $ansi-cyan, white, $hover-color: white);
}
.btn-precontest-solution {
	--#{$prefix}btn-font-size: 0.85rem;
	@include button-outline-variant($ansi-cyan, color-contrast($ansi-cyan), transparent);
}
.btn-contest-result {
	--#{$prefix}btn-font-size: 0.85rem;
	@include button-variant($ansi-green, $ansi-green, white, $hover-color: white);
}

.nav-tabs-apply {
	--#{$prefix}nav-link-padding-x: 0.5rem;
	--#{$prefix}nav-link-padding-y: 1rem;
	@include rfs(0.8rem, --#{$prefix}nav-link-font-size);
	--#{$prefix}nav-link-color: #{$ansi-red};
	--#{$prefix}nav-link-hover-color: #{$ansi-red};

	.nav-link {
		border: none;
	}

	.nav-link.active {
		border-bottom: 1px solid black;
	}

	.nav-link:hover {
		background-color: #eee;
	}
}

.title_image {
    max-width: 100%;
    height: 630px;      //height 380 일시에 너비 1520, 높이 1140 정도의 4:3 비율의 이미지 필요
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    position:relative;
    overflow:hidden;                //넘치는 부분은 자름
}
.t_img {
    object-fit: cover;
    width: 100%;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
}

.title_image .t_img img{
    object-fit: cover;
    position: absolute; 
    top: 0; 
    left: 0;
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

.t_text {
    width: auto;
    height: auto;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% ); //위치이동, 왼쪽 50%이동, 위쪽 50%이동, -는 왼쪽, +는 오른쪽, -는 위쪽 +는 밑에쪽
}
